#title{
  background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/titleback.jpg);
  /* background-color:#393e46; */
  height: auto;

  background-size: cover;
  background-position: center;
  color: #fff;
}
/* header icon */
.header-icon{
  color: #fff;
  margin: 0 10px;
}
.header-icon:hover{
  color: grey;
}
.header-right{
  text-align: right;
}
.header-left{
  text-align: left;
}

/* body */
body{
    font-family: "Montserrat-Black";

}
.container-fluid{
  padding: 1% 5%;
}

h1{
  font-family: "Montserrat";
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}
/* titleimg */
.titleimg{
  width: 100%;
    border-radius: 50px;
    margin-bottom: 50px;
}

/* navbar */

.logo{
  border-radius: 10px;
}
.nav{
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 4rem;
}
.nav-link{
  font-size: 1.6rem;
  font-family: "Montserrat-black";
}
.navbar{
  padding-bottom: 0 0 1rem;
}
.nav-item{
  padding: 0 18px;
}
.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}


  /* services */
  h2,h3{
    font-family: "Montserrat";
    font-size: 1.5rem;
    font-weight: 900;
  }
  p{
    color:#8f8f8f;
    font-size: 1.5rem;
  }
  #services{
    padding: 7% 15%;
  }
  .services-box{
    display: block;
    margin-top: auto;
    text-align: center;
    padding: 5%;
  }
  .services-icon{

    max-width: 100%;
    height: auto;
  }
.services-icon:hover{
  transform: scaleX(-1);
  border: 5px solid black;
}
/* carousel-pictures */
h2{
  line-height: 1.5;
}

#carousel-pictures{
  padding:2% 2% 0;
  text-align: center;
  background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/pictures.jpg);
  height: auto;
  background-size: cover;
  background-position: center;
  color: black;
}
.testimonial-text{
  font-size: 1.5rem;
  line-height: 1.5;
}
.testimonial-image{
  width: 50%;
  border-radius: 10%;
    margin: 20px;
}

/* pricing */
#pricing
{
  padding: 20px;
  text-align: center;
}
#pricing .row{
    color:black;
    background-color:white;
  padding: 20px 0 0;
}

#pricing .btn {
    font-size: 16px;
    padding: 11px 40px 10px;
    border: 2px solid black;
    background-color: black;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    height: 50px;
    display: inline-block;
    transition: .25s ease-in;
    color: #fff;
}
#pricing .btn:hover{
   background-color: #fff;
   color: black;
}
.club-card-col {
  transform: translateY(40px);
  margin-bottom:auto;}
  .club-card-col:nth-child(2) {
    transform: translateY(0); }

.club-card-item {
    border:1px solid rgb(216 216 216);
    margin-bottom:50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background-color: #F7F7F7;
  box-shadow: 4px 4px 14px 0px rgba(0, 0, 0, 0.15);
  background-position: center;
  background-repeat: no-repeat;
  padding: 48px 20px 50px;
  position: relative; }
  .club-card-item:before {
    content: '';
    position: absolute;
    width: 95%;
    height: 95%;
    left: 50%;
    top: 50%;
    opacity: 0;
    margin-top: 40px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 7px solid black;
    transition: .4s ease-in-out;
    pointer-events: none; }
  .club-card-item:hover:before {
    opacity: 1;
    margin-top: 0; }
  .club-card-item .price-cover {
    display: flex;
    justify-content: flex-start;
    font-family: "Righteous", sans-serif;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 22px; }
    .club-card-item .price-cover:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 45px;
      height: 4px;
      background-color: #f23849; }
    .club-card-item .price-cover .price {
      font-weight: bold;
      font-size: 72px;
      padding-right: 6px;
      line-height: .75; }
    .club-card-item .price-cover .date {
        font-weight: bold;
      font-size: 18px;
      padding-left: 2px; }
      .club-card-item .price-cover .date span {
        text-align: left;
        margin-left: -10px;
        color: #fcbd56;
        display: block;
        line-height: .9;
        font-size: 36px; }
  .club-card-item .list {
    width: 100%;
    text-align: center;
    padding: 20px 0 42px;
    font-size: 1.2rem;
  }
    .club-card-item .list li {
      border-bottom: 1px solid #474747;
      padding: 11px 0; }
      .club-card-item .list li:last-child {
        border-bottom: none; }
      .club-card-item .list li.item-excluded {
        color: rgba(190, 190, 190, 0.66); }


/* youtube vide */
.vid {
    position: relative;
    padding-bottom: 40.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}

.vid iframe,
.vid object,
.vid embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* our team */

#team{
  margin: 20px 0;
}
#team img{
  border-radius: 10%;
  height: 45%;
}
.card-img-overlay
{
  position: relative;
}
.temp-icon{
  position: absolute;


}
.card-img{
  padding: 10px;
}
.team-col{
  padding: 5% 1%;
}
#team h2{
  padding-top: 20px;
}
/* carouselclients */
#clients{
  text-align: center;
  background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/wood.jpg);
  height: auto;
  background-size: cover;
  background-position: center;
  color: #fff;
}
#carousel-clients{
  padding-top: 0;
}
.clients-image{
  width:20%;
  border-radius: 100%;
  margin: 20px;
}
#clients .carousel-item{
  padding: 7% 15%;
}

/* footer */
#footer{
  text-align: center;
  background-color: #333;

}
.footer-text{
  color: #fff;
}
.foot-icon{
  color: #fff;
  /* margin: 20px 10px; */
}
.foot-icon:hover{
  color: grey;

}
.footer-text{
  font-size: 1.5rem;
  font-weight: bold;
}


/* contact us */
/* .pb-100 {
	padding-bottom: 10px;
} */
.pt-100 {
	padding-top: 60px;
}
.mb-100 {
	margin-bottom: 100px;
}
a {
	text-decoration: none;
	color: #333;
	-webkit-transition: .4s;
	transition: .4s;
}
.section-title {
	position: relative;
}
.section-title p {
	font-size: 16px;
	margin-bottom: 5px;
	font-weight: 400;
}
.section-title h4 {
	font-size: 40px;
	font-weight: 600;
	text-transform: capitalize;
	position: relative;
	padding-bottom: 20px;
	display: inline-block;
}
.section-title h4::before {
	position: absolute;
	content: "";
	width: 80px;
	height: 2px;
	background-color: #d8d8d8;
	bottom: 0;
	left: 50%;
	margin-left: -40px;
}
.section-title h4::after {
	position: absolute;
	content: "";
	width: 50px;
	height: 2px;
	background-color: #FF7200;
	left: 0;
	bottom: 0;
	left: 50%;
	margin-left: -25px;
}
.contact {
	background-image: url("http://infinityflamesoft.com/html/abal-preview/assets/img/contact_back.jpg");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	position: relative;
	z-index: 2;
	color: #fff;
}
.contact-form input,
textarea {
	width: 100%;
	border: 1px solid #555;
	padding: 5px 10px;
	text-transform: capitalize;
	margin-top: 15px;
	background-color: transparent;
	color: #fff;
}
.contact:before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: #333;
	z-index: -1;
	opacity: .85;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
}
.single-contact {
	text-align: left;
	position: relative;
	padding-left: 70px;
	margin-bottom: 50px;
	margin-top: 10px;
}
.single-contact i.fa {
	position: absolute;
	left: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	        transform: translateY(-50%);
	background-color: #FF7200;
	width: 60px;
	height: 60px;
	line-height: 40px;
	text-align: center;
	border-radius: 3px;
  padding-top: 10px;
}
.single-contact h5 {
	font-size: 18px;
	margin-bottom: 10px;
	font-weight: 500;
}
.single-contact p {
	font-size: 15px;
	font-weight: 400;
}
.contact-form input[type="submit"] {
	background-color: #FF7200;
	border: 0px;
	cursor: pointer;
	font-size: 16px;
	-webkit-transition: .4s;
	transition: .4s
}
.contact-form input[type="submit"]:hover {
	background-color: #CC5B00
}
.contact-form input:focus, textarea:focus {
	border-color: #CC5B00
}





/* Google Form */

#footer .google_form{
    width: 100%;
  }

/* whatsapp icon text */
.single-contact .whatsapp-text{

  font-weight: bold;
  font-size: 1.6rem;
}


/* media query */
@media (max-width:1228px) {
 /* .container-fluid{
   padding: 3% 15% 0 15%;
 } */
  #title{
    text-align: center;


  }

  /* .title-img{
    position: relative;
    top: 15%;
    left: 12%;

  }
  #features{
  position: relative;
  } */

}
